<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tambah Presensi</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Tambah Presensi</h2>
                <br>
                <form th:action="@{/presensi/tambah}" th:object="${presensi}" method="POST">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Nama Karyawan</label>
                            <input type="text" class="form-control" name="storyPoint" placeholder="Nama Depan">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Tanggal Lahir</label>
                            <input required class="form-control" type="date"/>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Waktu Masuk</label>
                            <!--                            <input required class="form-control" type="datetime-local" th:field="*{tanggalDimulai}" />-->
                            <input required class="form-control" type="datetime-local"/>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Waktu Keluar</label>
                            <!--                            <input required class="form-control" type="datetime-local" th:field="*{tanggalDimulai}" />-->
                            <input required class="form-control" type="datetime-local"/>
                        </div>
                    </div>

                    <table class="table">
                        <thead>
                        <th>Daftar Tugas</th>
                        <th></th>
                        <th>
                        </th>
                        </thead>
                        <tbody>
                        <tr>
                        <tr th:each="sertifKaryawan, iterationStatus : *{sertifikasiKaryawan}">
                            <td>
                                <select th:field="*{sertifikasiKaryawan[__${iterationStatus.index}__].sertifikasi.idSertifikasi}"
                                        class="form-control">
                                    <option selected disabled value="" style="color: grey"><span style="color: #a9a9a9">Sertifikasi</span></option>
                                    <option th:each="sertifikasi : ${listSertifikasi}"
                                            th:value="${sertifikasi.idSertifikasi}"
                                            th:utext="${sertifikasi.namaSertifikasi}">
                                    </option>
                                </select>
                            </td>
                            <td>
                                <!--                                <input class="form-control" type="text" th:field="*{listPengajar[__${iterationStatus.index}__].namaPengajar}">-->
                                <input class="form-control" type="date">
                            </td>
                            <td>
                                <!--                                <button th:value="${iterationStatus.index}" class="btn btn-danger" type="submit"-->
                                <button class="btn btn-danger" type="submit"
                                        name="deleteRowPengajar">Hapus</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="container">
                        <button class="btn btn-primary" type="submit" name="addRow">Tambah Row</button>
                    </div>
                    <br>
                    <div class="container">
                        <button class="btn btn-primary" type="submit" name="save">Submit</button>
                        <a class="btn btn-primary" href="/">Home</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
<div th:include="fragments/fragment :: footer" style="margin-top: 15px;"></div>
</html>