<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Daftar Karyawan</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container">
  <div class="card m-4 p-4 border-0">
    <div class="card-body">
      <div class="justify-content-center">
        <div class="container">
          <div class="col-sm" style="text-align: center">
            <h2 style="text-align: center;">Daftar Karyawan</h2>
          </div>
        </div>
        <div class="card m-4 p-4">
          <div class="card-body">
            <div class="justify-content-center">
              <div class="row">
                <div class="col" style="font-weight: bold">
                  <p>Data Karyawan</p>
                </div>
                <div class="col" style="text-align: right; margin-bottom: 10px">
                  <button type="button" class="btn btn-info"><b>+</b> Tambah Karyawan</button>
                </div>
                <h4></h4>
                <table class="table table-striped text-center">
                  <thead style="color: #2C4B75;">
                  <tr style="color: dodgerblue">
                    <th>No</th>
                    <th>Nama</th>
                    <th>Email</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="karyawan, iterationStatus : ${listKaryawan}" style="color: grey">
                    <td th:text="${iterationStatus.count}"></td>
                    <td th:text="${karyawan.namaDepan + ' ' + karyawan.namaBelakang}"></td>
                    <td th:text="${karyawan.emailKaryawan}"></td>
                    <td>
                      <a class="btn btn-success" th:href="@{/karyawan/} + ${karyawan.idKaryawan}">Detail</a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:include="fragments/fragment :: footer" style="margin-top: 15px;"></div>
</body>
</html>