<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Presensi</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4 border-0">
        <div class="card-body">
            <div class="justify-content-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <a href="/presensi"><i class='fas fa-arrow-left' style='font-size:24px'></i></a>
                        </div>
                        <div class="col-sm" style="text-align: center">
                            <h2 style="text-align: center;">Detail Presensi</h2>
                        </div>
                        <div class="col-sm" style="text-align: right">
                            <button type="button" class="btn btn-warning">Edit</button>
                        </div>
                    </div>
                </div>
                <div class="card m-4 p-4">
                    <div class="card-body">
                        <div class="justify-content-center">
                            <table class="table table-borderless">
                                <tr>
                                    <td style="font-weight: bold; color: dodgerblue">Nama Karyawan</td>
                                    <td th:text="${presensi.karyawan.namaDepan + ' ' + presensi.karyawan.namaBelakang}"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold; color: dodgerblue">Tanggal Presensi</td>
                                    <td th:text="${#calendars.format(new java.util.Date(presensi.tanggalPresensi), 'dd MMMM yyyy')}"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold; color: dodgerblue">Waktu Masuk</td>
                                    <td th:text="${#calendars.format(new java.util.Date(presensi.waktuMasuk), 'HH.mm a')}"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold; color: dodgerblue">Waktu Keluar</td>
                                    <td th:text="${#calendars.format(new java.util.Date(presensi.waktuKeluar), 'HH.mm a')}"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold; color: dodgerblue">Status</td>
                                    <td style="color: darkred; font-weight: bold" th:if="${presensi.statusPresensi} == 0">TERLAMBAT</td>
                                    <td style="color: mediumseagreen; font-weight: bold" th:if="${presensi.statusPresensi} == 1">TEPAT WAKTU</td>
                                </tr>
                            </table>
                            <div class="card m-3 p-3">
                                <div class="card-body">
                                    <h4>Daftar Tugas</h4>
                                    <table class="table table-striped text-center">
                                        <thead style="color: #2C4B75;">
                                        <tr style="color: dodgerblue">
                                            <th>ID</th>
                                            <th>Nama</th>
                                            <th>Deskripsi</th>
                                            <th>Story Point</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="tugas, iterationStatus : ${listTugas}" style="color: grey">
                                            <td th:text="${tugas.idTugas}"></td>
                                            <td th:text="${tugas.namaTugas}"></td>
                                            <td th:text="${tugas.deskripsiTugas}"></td>
                                            <td th:text="${tugas.storyPoint}"></td>
                                            <td th:if="${tugas.statusTugas} == 0">Dimulai</td>
                                            <td th:if="${tugas.statusTugas} == 1">Dikerjakan</td>
                                            <td th:if="${tugas.statusTugas} == 2">Selesai</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div th:include="fragments/fragment :: footer" style="margin-top: 15px;"></div>
</body>
</html>